extends base.pug

block isi
  form
    .form-group
      label Judul buku
      input.form-control.judul(required)
    .form-group
      label Jumlah halaman
      input.form-control.banyak(type="tel" required)
    .form-group
      input.btn.btn-primary(value="Tambahkan" type="submit")
      
block js
  include:coffee-script(bare=true) js/tambah.coffee